.menu {
		display: none;
	        flex-basis: 100%;
	    list-style: none;
	    margin: 0;
	    max-height: 0;
	    opacity: 0;
	    overflow: hidden;
	    padding: 0 2em;
	    text-transform: uppercase;
	    transition: margin .5s ease-in-out, max-height .5s ease-in-out, opacity .3s .1s ease-in-out;
}

.menu li {
    border-bottom: 1px solid #eee;
}

.menu li a {
    display: inline-block;
    padding: 0.5em 1em;
}

.menu-checkbox:checked ~ .menu {
    display: block;
    margin: 1em 0;
    max-height: 500px;
    opacity: 1;
    visibility: visible;
}

.menu-checkbox:checked + .menu {
    margin: 1em 0;
    max-height: 500px;
    opacity: 1;
    visibility: visible;
}

.menu-checkbox {
	opacity: 0;
	position: absolute;
	top: -1000px;
}

.menu-checkbox:focus + .menu-toggle {
    outline: #00A1A1 auto 5px;
}

.menu-toggle {
    padding: .1em 1em;
}

.nav-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 65em) {
    .menu {
    	display: block;
        flex-basis: auto;
        margin: 0;
        max-height: 1000px;
        opacity: 1;
        padding: 0;
        visibility: visible;
    }

        .menu-toggle,
    .menu-checkbox {
        display: none;
    }

    .menu li {
        border: none;
        display: inline-block;
    }

.menu li a {
    padding: .1em;
}
}